<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>


    <div class="video-wrapper">

        <video playsinline autoplay muted loop poster="cake.jpg">
          <source src="./Customize Your SCUF® PS5, PS4, Xbox, or PC Controller Today - Scuf Gaming.mp4" type="video/webm">
          </video>

        <!-- This will be positioned on top of our video background -->
        <div class="desc">
            <h2>UNPARALLELED CUSTOMIZATION</h2>
        </div>
    </div>
    <section class="intro">
        <div class="desc-intro">
            <h2>ENDLESS CUSTOMIZATION. ONE PRICE.</h2>
            <p>Use code MAXMYPS4 to build your Impact or Infinity for $199.99, code MAXMYPS5 to build your Reflex for $239.99, or code MAXMYXBOX to build your Instinct Pro for $199.99</p>
        </div>
        <div class="img-intro">
            <img src="./ggg.png" alt="">
        </div>


    </section>

    <section class="choose">
        <h2>Choose your shape</h2>
        <div class="members">
            <div class="img-members">
                <img src="./joystick.png" alt="">
            </div>
            <div class="desc-members">
                <h2>Choose your shape</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquid officia quaerat cum, qui voluptas dolorem eum sint minima tenetur quas porro unde accusamus aliquam facilis iste! Velit, placeat dolores!</p>
                <button>Customize</button>
            </div>
        </div>
    </section>

    <section class="howitworks">
        <h2>How it Works</h2>

        <div class="howto" id="aboutSection">
            <div class="image">
                <img src="./how1.jpg" alt="" />
            </div>
            <div class="content">
                <h3>About us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda
                </p>
            </div>
        </div>

        <div class="howto2" id="aboutSection">

            <div class="content">
                <h3>About us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda
                </p>
            </div>
            <div class="image">
                <img src="./how1.jpg" alt="" />
            </div>
        </div>


        <div class="howto" id="aboutSection">
            <div class="image">
                <img src="./how1.jpg" alt="" />
            </div>
            <div class="content">
                <h3>About us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda
                </p>
            </div>
        </div>


        <div class="howto2" id="aboutSection">

            <div class="content">
                <h3>About us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda Quas adipisci dicta consequatur qui odit laborum in assumenda. Assumenda
                </p>
            </div>
            <div class="image">
                <img src="./how1.jpg" alt="" />
            </div>
        </div>

    </section>


    <div class="gallery">
        <figure class="gallery-item">
            <img src="./3d (31).png" alt="Photo of beautifully
          arranged food" />

        </figure>
        <figure class="gallery-item">
            <img src="./3d (10).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (13).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (27).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (28).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (31).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (13).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (27).png" alt="Photo of beautifully
          arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="./3d (31).png" alt="Photo of beautifully
          arranged food" />
        </figure>



    </div>
    </section>
    <footer>
        <p>
            <a href="">  Copyright © 2023 3d shape simulation app. All Rights Reserved.</a>
        </p>



    </footer>
</body>

</html>